<div class="agileinfo-ads-display col-lg-9">
    <div class="wrapper">
        <!-- first section -->
        <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mt-4">
            <div class="row">
                @await Html.PartialAsync("ProductSummary")
            </div>
        </div>
        <!-- //first section -->
    </div>
</div>
